@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
/* font-family: 'Nothing You Could Do', cursive; */

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-image{
    background-image: url(sunset.jpg);
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.name{
    background-color: rgb(202, 193, 95);
    position: relative;
    top: 20vh;
    text-align: center;
    padding: 3rem 0;
    font-family: 'Nothing You Could Do', cursive;
    opacity: 40%;
}

.right-info{
    background-color: orange;
    width: 60%;
    font-size: 2rem;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.opening-sentence{
    background-color: purple;
    padding: 0 2rem;
}

.form-container{
    background-color: aqua;
    padding: 1rem 3rem;
}

.user-inputs-container{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 4rem;
}
.user-input{
    width: 45%;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    margin: 0;
t}
label{
}